<br />

<div class="text-center">
  <h4>
    <% ReviewResult.all.each do |rr| %>
      <%= rr.emoji_or_fallback %> = <%= rr.name %>
    <% end %>
  </h4>
</div>

<br />

<hr>

<% usermap = {} %>
<div class="container comment-container">
  <%= form_tag feedback_path, id: 'comment-evaluation' do %>
    <div class="container">
      <% @comments.each do |comment| %>
        <div class="row">
          <div class="col-lg-3">
            <div class="btn-group" role="group" aria-label="Basic example">
              <% ReviewResult.all.each do |rr| %>
                <label class="btn btn-outline-secondary">
                  <%= radio_button_tag "comments[#{comment.id}]", rr.id %>
                  <%= rr.emoji_or_fallback %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="col-lg-9">
            <p>
              <%= comment.body %>&nbsp;-&nbsp;<span class="text-primary"> user<%= usermap[comment.commenter_id] || usermap[comment.commenter_id] = (('A'..'Z').to_a-usermap.values).shuffle[0.-1][0] %></span>
            </p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  <% end %>
  
  <div class='text-center'>
    <%= submit_tag "Submit", form: 'comment-evaluation', class: 'inline btn btn-primary' %>
    <%= link_to "Skip", comment_path, method: :get, class: 'inline btn btn-warning' %>
  </div>
</div>
