<!DOCTYPE html>
<html>
  <head>
    <title>HNQE5001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-danger font-weight-bold" href="/">
            <%= image_tag "https://i.stack.imgur.com/1YKEn.png", width: 30, style: 'margin-top:-3px' %>
            HNQ Evaluator 5001
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto text-center">
            <% if current_user.present? %>
              <li class='nav-item'><%= link_to "Evaluate HNQs", comment_path, class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to "Instructions", login_path, class: 'nav-link' %></li>
            <% end %>
            <li class='nav-item'>
              <%= link_to "Database Dumps", db_dumps_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="nav navbar-nav justify-content-end">
            <% if current_user.present? %>
              <% if current_user.admin %>
                <li class='nav-item'>
                  <%= button_to "Start Database Dump", start_dump_path(format: :json), remote: true, class: 'btn-danger navbar-btn btn', method: :get, id: 'startDbTask' %>
                </li>
              <% end %>
            <li class="nav-item dropdown dropdown-noscript">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Log Out", logout_path, class: 'dropdown-item' %>
                <% if current_user.admin %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "My Reviews", history_path, class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
            <% else %>
              <li class='nav-item'>
                <%= link_to "Log in with Stack Exchange!", begin_oauth_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div id="alerts">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Content and ideas stolen (in part) from <%= link_to "The Stack Overflow Blog", "https://stackoverflow.blog/2018/07/10/welcome-wagon-classifying-comments-on-stack-overflow/" %>.</p>
        <p class="text-muted">Designed and created by <%= link_to "thesecretmaster", "https://cseducators.stackexchange.com/users/58" %> and <%= link_to "Undo", "https://stackoverflow.com/users/1849664" %>. Repurposed for HNQ by <%= link_to "ArtOfCode", "https://chat.stackexchange.com/users/121520/artofcode" %>.<br><small>We are not Stack Overflow, nor are we affiliated with Stack Overflow.</small></p>
      </div>
    </footer>
  </body>
</html>
